.Dashboard {
  margin-left: 5%;
}

.Dashboard_div {
  margin-left: 15%;
}

.sidebar {
  position: fixed; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: #202a3f;
}
