.brand h4 {
  color: black;
  margin-top: 20%;
  margin-left: 10%;
  margin-bottom: 10%;
}

.side_barTitle {
  color: black;
  font-size: 1.1em;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 10%;
}

.side_barDivider {
  border-top: 0.5px solid black;
  width: 80%;
  margin-left: 10%;
}

.side_barList {
  list-style: none;
  padding: 0;
}

.side_barList li {
  display: flex;
  justify-content: left;
  color: lightgray;
  width: 100%;
  height: 45px;
  text-align: left;
  padding-left: 10%;
  margin-bottom: 20px;
  align-items: center;
}

.side_barList li:hover {
  color: white;
  cursor: pointer;
}

.side_barList a {
  color: lightgray;
  text-decoration: none;
  width: 100%;
  height: 50%;
}

.side_barList li a:hover {
  color: white;
  text-decoration: none;
}

.sidebar_icon {
  font-size: 1.5em;
  margin-right: 10%;
  width: 25%;
  height: 50%;
}

.sidebar_invitation_icon {
  font-size: 1.5em;
  margin-left: 3%;
  margin-right: 12%;
  width: 18%;
  height: 50%;
}
