.profile {
  width: 60em;
  margin-left: 15%;
}

.profile_div {
  margin-left: 15%;
  width: 85%;
}

.sidebar {
  position: fixed; /*position: fixed;*/
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background: #202a3f;
}
